<% page="about" %>

<!doctype html>
<html lang="en">

    <%- include('partials/head.ejs', { "title": "Bad Roofers Inc - About"}) %> 

  <body>

    <div class="body-container">
      <div class="mi-container" onclick="showOrHideMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div class="left-content">
        <%- include('partials/nav.ejs') %>
      </div>

      <div class="right-content">
        <%- include('partials/header.ejs') %> 
        
        <section class="content-section">
          <h1>About</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus molestie, egestas justo non, commodo ipsum. Cras interdum nec mi a sollicitudin. Etiam eget nulla vel nunc suscipit molestie et non nisl. Curabitur vestibulum erat eu metus malesuada, a volutpat tellus laoreet. Phasellus a nisi vel quam accumsan semper in non justo. Mauris pellentesque et ipsum vel faucibus. Proin et pharetra urna. Proin et facilisis sapien. Duis arcu libero, mollis eget vehicula at, tempus sed augue. Vivamus ornare in ipsum sit amet congue. Aliquam id erat aliquet, congue augue sed, vestibulum dolor. Donec magna eros, placerat non suscipit et, volutpat vitae mi. Aenean ultricies elementum nisi, nec ultricies diam elementum quis. Curabitur id mauris vestibulum tellus vestibulum aliquam vitae in nisi. Ut in arcu ornare, tincidunt ex gravida, dignissim diam.

            Proin volutpat turpis id vestibulum aliquet. Sed molestie dolor sit amet odio egestas, eu blandit enim consectetur. Vivamus ipsum diam, bibendum eget metus eget, pharetra facilisis neque. Etiam nec tincidunt sapien. Donec convallis semper dictum. Nunc nisi metus, ornare luctus suscipit non, tincidunt vel justo. Etiam faucibus sagittis nisi eget viverra.

            Donec blandit non arcu tempus vehicula. Nullam volutpat, libero et volutpat imperdiet, eros mauris tristique lectus, sed sagittis nunc mauris ultricies elit. Aliquam eget ligula hendrerit, pellentesque diam sit amet, vestibulum ipsum. Donec tristique blandit eros, vel aliquam nibh suscipit ultricies. Aenean ac massa eu ex facilisis euismod. Etiam rutrum tempus vulputate. Maecenas ac vulputate nibh. Nulla leo enim, viverra at nibh et, accumsan imperdiet leo. Nunc porttitor eget lectus a mollis. Fusce enim ex, molestie ac odio quis, facilisis mattis massa. Aenean interdum sem sit amet porttitor accumsan. Nulla tincidunt augue eget augue feugiat molestie. Phasellus non varius massa. Pellentesque nec nunc vitae metus iaculis ultrices nec ac neque. Pellentesque vitae nulla fringilla, scelerisque ex non, suscipit nisl. Praesent hendrerit vestibulum odio eget fringilla.

            Maecenas sit amet placerat dolor. Proin ut ligula risus. Nunc sed molestie dui, at imperdiet augue. Vestibulum faucibus euismod purus, eget convallis ipsum porttitor nec. Sed ligula nunc, aliquet non commodo id, pretium ac orci. Sed sit amet mollis odio. Praesent neque velit, eleifend varius mattis non, dapibus iaculis odio. Sed vulputate nisi sed erat elementum vulputate. Curabitur accumsan pharetra lorem id congue. Cras vitae arcu at quam volutpat sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis ut massa luctus nisl dictum interdum sed et neque. Vivamus venenatis metus sapien, vitae dignissim mi pulvinar sed. In ut leo turpis. Mauris libero arcu, iaculis ac pellentesque at, elementum at turpis. In id est semper, sodales felis eu, mollis neque.

            Morbi nisi leo, ultricies interdum metus nec, egestas efficitur ipsum. Praesent commodo egestas dolor, in porta leo pretium ut. Maecenas porttitor arcu at arcu viverra consequat. Etiam tempus arcu quis libero euismod convallis. In mi orci, ornare at suscipit eu, consequat vitae purus. Quisque non ligula eleifend, porta dolor nec, elementum justo. Sed sit amet mattis nibh. Pellentesque eget mauris felis.

            Donec pharetra vulputate eros, a fringilla justo finibus vel. In hac habitasse platea dictumst. Curabitur rhoncus maximus neque scelerisque finibus. In hac habitasse platea dictumst. Sed quis mi ac metus pharetra eleifend sit amet a metus. Maecenas interdum tellus eleifend, vestibulum mauris ac, dictum dui. In vel tincidunt enim. Nulla ac dui et tortor tempor volutpat ut sit amet risus. Nulla sagittis purus nec risus lacinia, id varius enim suscipit. Integer velit metus, interdum sit amet augue eget, maximus facilisis purus. Cras eu commodo diam. Maecenas eros tortor, tempor nec diam a, sagittis luctus nunc. Donec tincidunt lorem sed libero accumsan hendrerit.

            Aliquam erat volutpat. Ut et lorem libero. Duis eget semper enim. Etiam commodo vitae lorem nec egestas. Sed et maximus urna. Pellentesque a lorem blandit, tincidunt mi sed, aliquam turpis. Sed interdum purus a orci porta, sit amet ullamcorper odio convallis.

            Nam dignissim ex at nisi laoreet porta. Aliquam erat volutpat. Quisque faucibus lectus sit amet tristique finibus. Curabitur et justo et lacus fringilla ultrices a pulvinar augue. Curabitur tristique, dui et porta consectetur, turpis dui auctor nisl, sed semper massa leo vel massa. Maecenas faucibus augue eget ipsum suscipit ornare. Aliquam non auctor augue, in finibus quam. Fusce finibus libero lectus, non rhoncus orci commodo et. Duis quis augue quam. Etiam sagittis turpis vel tortor fringilla, tincidunt convallis lacus tempor. Proin placerat metus ex, placerat aliquet sem posuere eu. Cras quis eros ac nunc finibus cursus id vitae tortor. Cras scelerisque eleifend felis, eget vestibulum ipsum viverra et. Curabitur maximus, arcu sit amet sollicitudin faucibus, enim nisi vehicula ex, consectetur vestibulum elit elit eu nisl. Donec non commodo nibh, non ornare lorem.

            In hac habitasse platea dictumst. Quisque ac quam dui. Aenean vel blandit justo. Suspendisse at sapien quis sem eleifend feugiat imperdiet vitae felis. Aenean sem sem, placerat at ligula eget, vestibulum porttitor nisi. Cras volutpat augue non dui semper, sit amet mollis arcu vestibulum. Aliquam quis viverra quam, vel scelerisque purus. Vestibulum eget orci auctor, bibendum nulla id, blandit magna. Etiam sit amet libero ac dui aliquet ullamcorper eget nec mauris. Sed scelerisque enim sit amet mi vestibulum, vel rhoncus nisi tempor. Vestibulum tellus metus, tempor et mollis eget, rhoncus nec nisl. Etiam sodales facilisis erat eu porta. Mauris sit amet diam velit.

            Fusce ac facilisis risus. Pellentesque porttitor sagittis enim quis aliquam. Vestibulum id mauris at tortor auctor interdum eu eu magna. Integer fringilla, neque sed blandit feugiat, lacus elit aliquet dui, quis pharetra dui turpis eget eros. Integer posuere id ante id accumsan. Sed auctor consectetur nunc, vel dictum libero ornare tristique. Nunc luctus luctus tellus, vel interdum nibh blandit a. Fusce consequat odio magna, eget laoreet risus mattis non. Phasellus mattis, libero vitae lobortis porta, tortor quam efficitur justo, nec mattis lacus nunc fringilla leo. Sed vitae rutrum eros. Duis nulla leo, mattis sit amet lobortis nec, auctor non dolor. Cras vel commodo ex. Sed eleifend sagittis nibh, vitae cursus ligula vulputate ultrices. Duis ullamcorper in turpis et faucibus. Sed ac diam mollis leo egestas feugiat nec tincidunt felis. Donec vestibulum cursus risus, ac pulvinar nulla vehicula id. 
          </p>
        </section>
        <%- include('partials/footer.ejs') %>
      </div>

    </div>
    <%- include('partials/scripts.ejs') %> 
  </body>
</html>