<% page="articles" %>

  <!doctype html>
  <html lang="en"> <%- include('partials/head.ejs', { title: "Bad Roofers Inc - Articles" }) %>

      <body>
        <%- include('partials/header.ejs') %>
          <div class="container">
            <section class="section first-section">
              <h1>Articles</h1>

              <div class="row">
                <% articles.data.forEach(function(article){ %>
                  <%- include("partials/article.ejs", { "article" : article }) %>
                <% }); %>
              </div>  
            </section>

          </div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
      </body>

  </html>