<!doctype html>
<html lang="en"> <%- include('partials/head.ejs', { "title" : "Bad Roofers Inc - Gallery" }) %>

    <body> <%- include('partials/header.ejs') %>
        <div class="container">
          <section class="section first-section">
              <div class="row">
                <% gallery.data.forEach(function(gallery_item){ %>
                    <%- include("partials/gallery-item.ejs", { "gallery_item" : gallery_item }) %>
                <% }); %>
              </div>
          </section>

        </div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
    </body>

</html>