<!doctype html>
<html lang="en">

    <%- include('partials/head.ejs', { "title": "Bad Roofers Inc - Home"}) %> 

  <body>
    

    <div class="body-container">
      <div class="mi-container" onclick="showOrHideMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div class="left-content">
        <%- include('partials/nav.ejs') %>
      </div>

      <div class="right-content">
        <%- include('partials/header.ejs') %> 
        
        <section class="content-section">
          <h1>Home</h1>
          <p>
            
          </p>
        </section>
        <%- include('partials/footer.ejs') %>
      </div>

      
    </div>
    <%- include('partials/scripts.ejs') %> 
  </body>
</html>