<% 
	page = "home"
%>

<!doctype html>
<html lang="en"> <%- include('partials/head.ejs', { title: "Bad Roofers Inc - Home" }) %>

<body> 
	<%- include('partials/header.ejs') %>
	<div class="container">

		<section class="section first-section">
			<h1 class="title">Where did it begin?</h1>
			<p>
				Back in March 2022, both <b>Lee Schofield</b>
				(from Euxton) and <b>Will Smith</b> (from Leyland) were hired through the company of <b>Lancashire Roofing
					Limited</b>.
				They were hired to do a full re-roof including plastic work. To this date the property is left with
				an unfinished roof,
				which is both poor quality and has hazardous improperly secured lead work.
				They were given several chances to fix the issues, so it should be noted that the current roof is with "corrected"
				workmanship.
				In most cases, instead of fixing the issues, they did their best to hide the issues. Both <b>photographic and video
					evidence</b> is available of this.
				Three roofing companies have examined and given reports confirming the work is of <b>extremely poor quality</b>,
				with sections being <b>hazardous</b> to the occupants.
			</p>

		</section>
		<section class="cards-section">
			<div class="cards-row row">
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/poor_workmanship.svg" alt="Poor Workmanship">
					</figure>
					<div>
						<p class="subtitle"> Poor Workmanship </p>
					</div>
				</div>
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/warning.svg" alt="Dishonest">
					</figure>
					<div>
						<p class="subtitle">Dishonesty</p>
					</div>
				</div>
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/bad_comm.png" alt="Bad Communication">
					</figure>
					<div>
						<p class="subtitle"> Bad Communication</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<p>
				<b>Lancashire Roofing Limited</b> were originally hired by a neighbour to do a re-roof.
				<b>Lee Schofield</b> and <b>Will Smith</b> were very friendly and easy to approach.
				The pair were local with <b>Lee Schofield</b> being from <b>Euxton</b> and <b>Will Smith</b> being from <b>Leyland</b>.
				It was assumed with them being local that they'd be less likely to try and rip us off.
				<b>We were wrong</b>.
				From a distance it looked as though they had done a good job. Their speed for a two man team 
				seemed admirably. It was only at a later date, when the work was inspected closer, that this 
				speed was attributed to <b>bad practices</b> and the <b>cutting of corners</b>.
			</p>
		</section>

		<section>
						<h2>What work remains?</h2>
						<p>Here is a list from <b>three independent roof inspections</b>, all of which agreed that this is required to get the
							roof into a fit state:</p>
						
						<ul>
							<li>Complete realignment of gauge spacing on battens.</li>
							<li>Correct nailing of all tiles.</li>
							<li>Dry ridge realignment and fixing properly.</li>
							<li>Re-coating of front and back flat roofs.</li>
							<li>Removal and replacement of flat roofs to stop pooling.</li>
							<li>UPVC boxing of cladding for ends front and back.</li>
							<li>Top layer of shingles front and back missing.</li>
							<li>Removal of bottom layer of shingles to cover wood with lead to correct lead work.</li>
							<li>Re-fixing ridge tiles, spacers, and membrane.</li>
							<li>All lead work to be replaced completed with proper fixings.</li>
							<li>Remove and reuse existing tiles and fix with new fixings.</li>
							<li>Replacement of damaged membrane.</li>
							<li>All scaffolding required included.</li>
							<li>Arrange site clearance and removal of all debris</li>
						</ul>
						
						<p>
							For those who want are in a rush...
							For all your roofing needs be sure to <b><u>STAY CLEAR OF LANCASHIRE ROOFING LIMITED, LEE SCHOFIELD, AND WILL
									SMITH.</u></b>
							If you have had work done by Lancashire Roofing Limited, Lee Schofield, or Will Smith, then we recommend you get an
							independent inspection or survey done to avoid a horrible surprise in the future.
							The whole experience from start to finish will be covered in the posted articles and images are available in the
							gallery.
						</p>
		</section>
		
		<section class="section">
			<h2>O Romeo, Romeo, wherefore art thou Romeo?</h2>
			<p>
							It would appear that Lee has either made the Lancashire Roofing Limited facebook page private or deleted it.
							Lucky for us all, I did take a pre-emptive backup of the Lancashire Roofing Limited facebook page, thus have all
							the content available.
							We want there to be a public record of their roofing service and workmanship.
							They have consistently avoided handling any issues which have arose and given nothing but excuses.
			</p>
		</section>
					
		<section class="section image-section">
			<img src="assets/images/lancashire_roofing_limited_not_found.jpg"
							alt="Lancashire Roofing Limited Facebook is Not Found." />
		</section>

		<section class="section">
			<h2>Articles</h2>
			<div class="row">
			<% articles.data.forEach(function(article){ %>
				<%- include("partials/article.ejs", { "article": article }) %>
			<% }); %>
			</div>
		</section>

	</div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
</body>

</html>