<!doctype html>
<html lang="en">

  <%- include('partials/head.ejs', { "title": "Bad Roofers Inc - Home"}) %>
    <body>


      <div class="body-container">
        <div class="mi-container" onclick="showOrHideMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>

        <div id="left-content" class="left-content">
          <%- include('partials/nav.ejs') %>
          </div>

          <div id="right-content" class="right-content">
            <%- include('partials/header.ejs') %>

              <section class="content-section">
                <section class="section">
                  <div class="container">
                    <h1 class="title is-1">Verdict: Avoid!</h1>
                    <h5 class="subtitle is-2">Lancashire Roofing Limited.</h5>
                    <p>
                      Back in March 2022, both <b>Lee Schofield</b> and <b>Will
                        Smith</b>, working under the company of <b>Lancashire
                        Roofing Limited</b>, were hired to do a full re-roof
                      including plastic work.
                      To this date, January 2023, the property is left with an
                      unfinished roof which is both poof quality and has
                      hazardous
                      improperly secured lead work.
                      It should be noted that the current roof is with
                      "corrected"
                      workmanship, as they were given several chances to fix the
                      issues.
                      In most cases, instead of fixing the issues, they did
                      their
                      best to hide the issues.
                      Both <b>photographic and video evidence</b> is available
                      of
                      this.
                      Three roofing companies have examined and given reports
                      confirming the work is of <b>extremely poor quality</b>,
                      with
                      sections being <b>hazardous</b> to the occupants.
                    </p>
                  </div>
                </section>

                <section class="cards-section section">
                  <div class="container">
                    <div class="columns is-desktop is-centered text-center">
                      <div class="column">
                        <figure class="image is-rounded">
                          <img
                            src="assets/images/red_tick.svg"
                            alt="Poor Workmanship">
                        </figure>
                        <p class="subtitle is-3">Poor Workmanship</p>

                      </div>


                      <div class="column">
                        <figure class="image">
                          <img
                            src="assets/images/red_tick.svg"
                            alt="Dishonest">
                        </figure>
                        <p class="subtitle is-3">Dishonest</p>
                      </div>

                      <div class="column">
                        <figure class="image">
                          <img
                            src="assets/images/red_tick.svg"
                            alt="Bad Communication">
                        </figure>

                        <p class="subtitle is-3">Bad Communication</p>
                      </div>
                    </div>
                  </div>
                </section>

              </section>
              <%- include('partials/footer.ejs') %>
              </div>


            </div>
            <%- include('partials/scripts.ejs') %>
            </body>
          </html>