<!doctype html>
<html lang="en"> <%- include('partials/head.ejs', { "title" : "Bad Roofers Inc - Home" }) %>

<body> <%- include('partials/header.ejs') %>
	<div class="container">

		<section class="section first-section">
			<h2 class="title">Where did it begin?</h2>
			
			<p>
				Back in March 2022, both <b>Lee Schofield</b>
				(from Euxton) and <b>Will Smith</b> (from Leyland) were hired through the company of <b>Lancashire Roofing
					Limited</b>.
				They were hired to do a full re-roof including plastic work. To this date the property is left with
				an unfinished roof,
				which is both poor quality and has hazardous improperly secured lead work.
				They were given several chances to fix the issues, so it should be noted that the current roof is with "corrected"
				workmanship.
				In most cases, instead of fixing the issues, they did their best to hide the issues. Both <b>photographic and video
					evidence</b> is available of this.
				Three roofing companies have examined and given reports confirming the work is of <b>extremely poor quality</b>,
				with sections being <b>hazardous</b> to the occupants.
			</p>

		</section>
		<section class="cards-section">
			<div class="cards-row row">
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/poor_workmanship.svg" alt="Poor Workmanship">
					</figure>
					<div>
						<p class="subtitle"> Poor Workmanship </p>
					</div>
				</div>
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/warning.svg" alt="Dishonest">
					</figure>
					<div>
						<p class="subtitle">Dishonesty</p>
					</div>
				</div>
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/bad_comm.png" alt="Bad Communication">
					</figure>
					<div>
						<p class="subtitle"> Bad Communication</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<p>
				<b>Lancashire Roofing Limited</b> were originally hired by a neighbour to do a re-roof.
				<b>Lee Schofield</b> and <b>Will Smith</b> were very friendly and easy to approach.
				The pair were local with <b>Lee Schofield</b> being from <b>Euxton</b> and <b>Will Smith</b> being from <b>Leyland</b>.
				It was assumed with them being local that they'd be less likely to try and rip us off.
				<b>We were wrong</b>.
				From a distance it looked as though they had done a good job. Their speed for a two man team 
				seemed admirably. It was only at a later date, when the work was inspected closer, that this 
				speed was attributed to <b>bad practices</b> and the <b>cutting of corners</b>.
			</p>
			<p>Here is a list from <b>three independent roof inspections</b>, all of which agreed that this is required to get the roof into a fit state:</p>

			<ul>
				<li>Complete realignment of gauge spacing on battens.</li>
				<li>Correct nailing of all tiles.</li>
				<li>Dry ridge realignment and fixing properly.</li>
				<li>Re-coating of front and back flat roofs.</li>
				<li>Removal and replacement of flat roofs to stop pooling.</li>
				<li>UPVC boxing of cladding for ends front and back.</li>
				<li>Top layer of shingles front and back missing.</li>
				<li>Removal of bottom layer of shingles to cover wood with lead to correct lead work.</li>
				<li>Re-fixing ridge tiles, spacers, and membrane.</li>
				<li>All lead work to be replaced completed with proper fixings.</li>
				<li>Remove and reuse existing tiles and fix with new fixings.</li>
				<li>Replacement of damaged membrane.</li>
				<li>All scaffolding required included.</li>
				<li>Arrange site clearance and removal of all debris</li>
			</ul>

			<p></p>
		</section>

		<section class="section">
			<div class="row">
			<% articles.data.forEach(function(article){ %>
				<%- include("partials/article.ejs", { "article": article }) %>
			<% }); %>
			</div>
		</section>

	</div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
</body>

</html>