<% 
	page = "home"
%>

<!doctype html>
<html lang="en"> <%- include('partials/head.ejs', { title: "Bad Roofers Inc - Home" }) %>

<body> 
	<%- include('partials/header.ejs') %>
	<div class="container">

		<section class="section first-section">
			<h1 class="title">Where did it begin?</h1>
			<p>
				Back in March 2022, both <b>Lee Schofield</b>
				(from Euxton) and <b>Will Smith</b> (from Leyland) were hired through the company of <b>Lancashire Roofing
					Limited</b>.
				They were hired to do a full re-roof including plastic work. To this date the property is left with
				an unfinished roof,
				which is both poor quality and has hazardous improperly secured lead work.
				They were given several chances to fix the issues, so it should be noted that the current roof is with "corrected"
				workmanship.
				In most cases, instead of fixing the issues, they did their best to hide the issues. Both <b>photographic and video
					evidence</b> is available of this.
				Three roofing companies have examined and given reports confirming the work is of <b>extremely poor quality</b>,
				with sections being <b>hazardous</b> to the occupants.
			</p>

		</section>
		<section class="cards-section">
			<div class="cards-row row">
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/poor_workmanship.svg" alt="Poor Workmanship">
					</figure>
					<div>
						<p class="subtitle"> Poor Workmanship </p>
					</div>
				</div>
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/warning.svg" alt="Dishonest">
					</figure>
					<div>
						<p class="subtitle">Dishonesty</p>
					</div>
				</div>
				<div class="col col-12 col-4-lg">
					<figure class="image">
						<img src="assets/images/bad_comm.png" alt="Bad Communication">
					</figure>
					<div>
						<p class="subtitle"> Bad Communication</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<p>
				<b>Lancashire Roofing Limited</b> were originally hired by a neighbour to do a re-roof.
				<b>Lee Schofield</b> and <b>Will Smith</b> were very friendly and easy to approach.
				The pair were local with <b>Lee Schofield</b> being from <b>Euxton</b> and <b>Will Smith</b> being from <b>Leyland</b>.
				It was assumed with them being local that they'd be less likely to try and rip us off.
				<b>We were wrong</b>.
				From a distance it looked as though they had done a good job. Their speed for a two man team 
				seemed admirably. It was only at a later date, when the work was inspected closer, that this 
				speed was attributed to <b>bad practices</b> and the <b>cutting of corners</b>.
			</p>
		</section>

		<section>
			<h2>What work remains?</h2>
			<p>Here is a list from <b>three independent roof inspections</b>, all of which agreed that this is required to get the
			roof into a fit state:</p>
						
			<ul>
				<li>Complete realignment of gauge spacing on battens.</li>
				<li>Correct nailing of all tiles.</li>
				<li>Dry ridge realignment and fixing properly.</li>
				<li>Re-coating of front and back flat roofs.</li>
				<li>Removal and replacement of flat roofs to stop pooling.</li>
				<li>UPVC boxing of cladding for ends front and back.</li>
				<li>Top layer of shingles front and back missing.</li>
				<li>Removal of bottom layer of shingles to cover wood with lead to correct lead work.</li>
				<li>Re-fixing ridge tiles, spacers, and membrane.</li>
				<li>All lead work to be replaced completed with proper fixings.</li>
				<li>Remove and reuse existing tiles and fix with new fixings.</li>
				<li>Replacement of damaged membrane.</li>
				<li>All scaffolding required included.</li>
				<li>Arrange site clearance and removal of all debris</li>
			</ul>
						
			<p>
			For those who want are in a rush...
			For all your roofing needs be sure to <b><u>STAY CLEAR OF LANCASHIRE ROOFING LIMITED, LEE SCHOFIELD, AND WILL
									SMITH.</u></b>
			If you have had work done by Lancashire Roofing Limited, Lee Schofield, or Will Smith, then we recommend you get an
			independent inspection or survey done to avoid a horrible surprise in the future.
			The whole experience from start to finish will be covered in the posted articles and images are available in the
			gallery.
			</p>

			<div class="horizontal-image-row row">
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20221011_145753 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20221011_145753 (Small).jpg' %>"
							alt="Improperly fitted flat-roof is pooling." /></a>
				</div>
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20221015_115733 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20221015_115733 (Small).jpg' %>"
							alt="Extremely poor GRP fibre glass flat roof workmanship." /></a>
				</div>
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20221015_124009 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20221015_124009 (Small).jpg' %>"
							alt="Dangerous lead-work which is improperly fixed." /></a>
				</div>
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20221227_140051 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20221227_140051 (Small).jpg' %>"
							alt="Improperly fitted membrane leading to condensation and leaks." /></a>
				</div>
			</div>

			<div class="horizontal-image-row row">
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20220728_170355 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20220728_170355 (Small).jpg' %>" 
							alt="Destroyed insulation due to leaking due to badly fitted flat-roof and membrane." /></a>
				</div>
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20221015_113759 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20221015_113759 (Small).jpg' %>" 
							alt="Incorrectly nailed membrane and lead-work, leaving the nail exposed to the elements, which will lead to a leak in future." /></a>
				</div>
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20221015_115404 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20221015_115404 (Small).jpg' %>"
							alt="Extremely poor quality flat-roof which is joined directly to membrane." /></a>
				</div>
				<div class="col col-6 col-3-lg">
					<a href="<%= gallery.images_path + 'IMG_20220725_044136 (Large).jpg' %>"><img
							src="<%= gallery.thumbs_path + 'IMG_20220725_044136 (Small).jpg' %>" 
							alt="Leak and Damage caused by Lancashire Roofing Limited, Lee Schofield, and Will Smith." /></a>
				</div>
			</div>

			<br />
			<div class="row">
				<div class="col text-center">
					<a href="gallery.ejs" class="button primary">Click Here for More...</a>
				</div>
			</div>
			<br />
						
		</section>
	

		<section class="section">
			<h2>The story so far...</h2>

			<p>
				In early March 2022, a verbal contract was agreed for a full re-roof of our property with Lee Schofield on behalf of
				Lancashire Roofing Limited. A few weeks later we would also agree for the plastic work to be done.
				Overall the job would include the following work:
			</p>

			<ul>
				<li>Tiles.</li>
				<li>Battens.</li>
				<li>Membrane.</li>
				<li>Dormers.</li>
				<li>Ridge tiles.</li>
				<li>Lead-work.</li>
				<li>Fibre-glass Flat-roofs.</li>
				<li>All Plastic Work – Soffits, Facias, dry verges, and uPVC.</li>
			</ul>

			<p>
				The required materials were all paid for fully within the first few weeks of the job. The work seemed to progress
				quickly enough for the first 2 weeks. It was around the 3 week mark that we noticed the roof was sloping upwards at an
				incline. A few people in the neighbourhood made comments about how it did not look right and we agreed. It was clear
				that the battens had been fitted incorrectly. We approached Lee Schofield and Will Smith, asking them to correct the
				battens – by removing them and refitting them, they agreed they would. In the following days it would look as though the
				roof had been corrected. They were asked if they corrected the battens to which they stated they had.
			</p>

			<p>
				Around the 10th April, we realised that they had completely missed the top row of tiles at the back of the house. It was
				clear because the neighbours had this top row which Lancashire Roofing Limited had fitted a few weeks before. A photo
				was sent to Lee Schofield with a request for the issue to be corrected. He replied that the problem would be corrected
				next time they came. It was around this date that things began to seriously go down hill. On the 11th April we attempted
				to make contact but all attempts were ignored. We decided it would be a good idea to take a closer look at the work
				which had been done so far, what we found disgusted us.
			</p>

			<p>
				Upon taking a closer look at the front battens we found they hadn't correct anything. What they had done instead is cut
				the edges of the tiles and shifted them around, this was easy because they hadn’t actually affixed any of the tiles with
				nails. This was the first time Lancashire Roofing Limited had tried to deceive us with lies and hiding their poor
				workmanship, it wouldn’t be the last. Once we got up onto the roof we found they had also hidden broken tiles on our
				neighbour's roof and left a large hole in the chimney lead-work. Any rain would have flooded into his roof. A number of
				the tiles which had been used had very serious visible defects and should never have been used. It was at this point
				that we realised we would have to keep a close eye on the job going forward. The 18th April came around and all contact
				has ceased with no work being done since 8th April. The property has been left like a bomb-site. It was a complete mess
				and in a manner which was totally unsafe for occupants. There were nails, dust, broken tiles, wood with nails sticking
				out, lead hanging unsafely, cigarette butts, empty cans, empty bottles, and holes in the garage roof. There had been no
				attempt to keep the environment respectable and clean.
			</p>

			<p>
				On 24th April, we discovered that the battens had been cut too short for the dry verges, and the tiles had their edges
				trimmed off. This meant that the dry verges could not be attached properly to the batten leaving them skew whiff and
				messy. Even worse it would mean that any water flowing down the tile would drip down onto the wood underneath and rot
				it. The edge of the tile would usually help the flow of water but as it had been trimmed off then it would do nothing.
				Instead of using full battens, they had pieced up several different battens, even being cheeky enough to reuse old wood
				they had taken off the house. Because such a large space had been left it made, it easy for birds, bees, wasps, and all
				other manner of things to get up the verge and into our roof and cavity wall. It turned out that they had brought in a
				third person to do the dry verges, who apparently also had no idea how to do a proper job. We finally made contact with
				Lee Schofield and he agreed that they would replace the battens with full battens and full uncut edge tiles. They would
				be un-contactable for another 4 days then appear our of the blue.
			</p>

			<p>
				On the 28th April, Lee Schofield and Will Smith would finally make an appearance after over 2 weeks of not showing up.
				It was stated that Will was suffering from personal issues and had been on a bender since the grand national. Brilliant.
				Looking at the state of the pair of them on that day it could be said that bender was still on going. Lee stated it was
				all Will’s fault because he had been un-contactable which sure sound like a load of old bollocks. As if things couldn’t
				get worst, patches of tiles had begun to discolour from a dark grey to a light grey. They both agreed that it wasn’t
				normal and they would get them replaced. We gave them template letters, so they could issue a faulty goods complaint, to
				help solve this issue with SIG Roofing. We decided it might be a good idea if they began the flat-roofs. Lee insisted
				that he was having issues sourcing 50mm insulation board for the flat-roof and therefore could not begin. Their solution
				was to put two old dirty 25mm insulation boards together. We weren’t happy with his because we’d paid for the 50mm
				insulation months ago. It was an odd statement because we gave him money for the flat-roof materials over 4 – 5 weeks
				ago. There isn’t a cat in hells chance that it would take 5 weeks to source 50mm flat-roof insulation. It was around
				this time that we found they were working elsewhere in the area instead of working on our roof.
			</p>

			<p>
				On 1st May Lee and Will declared they had successfully re-fitted the dry verges. Upon inspection they were found to be
				unevenly spaced, fitted incorrectly, and the battens had once again been cut too short. They had tried to hide the fact
				they had not corrected the battens AGAIN! A simple spirit level was used to show how uneven the battens were and their
				spacings/gauge had been incorrectly measured. The battens on the back roof had now also been fitted incorrectly. We
				really were going round in circles. It would be so bad that we would overhear a conversation where they just could not
				figure out what the issue was. It turns out that the issue would be that they had completely missed off a batten. That
				left 24 battens on the front of the house and 23 battens on the back of the house. They couldn’t figure out why the
				gauge spacings where so out. If you’re a roofer who cannot figure out that they have completely missed a batten then I
				think you should call it a day. Instead Lee Schofield goes onto the describe himself as the number 1 roofer in the North
				West – we think not and we think anyone reading this website would disagree with that sentiment to. Firstly the front
				and now the back. We also inspected the tiles on the back and too no ones surprised they contained many imperfections
				and damaged tiles had been used but they had tried to hide them. We told you it would not be the first time they tried
				to deceive us. The weather forecast showed that we were due some bad rain and we were worried that the membrane would
				degrade. Our worry was that they had left 3 rows of tiles exposed to the elements. We aired our worries to Lancashire
				Roofing Limited and they told us it is totally waterproof and wouldn’t degrade - this would be found to be a total
				falsehood at a later date. It was at this stage that we asked for a breakdown of the work and invoice. Lee Schofield
				said he would get it to us as soon as possible, we never received either.
			</p>

			<p>
				We contacted Lee Schofield and enquired what was going on with the job because it seemed everything had come to a
				standstill. On the 9th May he told us that the weather will be too bad for him to start the flat-roofs but they would
				get them done on Thursday and Friday. The issue with the discoloured tiles was still ongoing and they told us they had
				spoken to SIG and Marley would be in contact. Three days later they turned up and we issued them 14 days notice under
				the Consumer Rights Act 2015. Things were cordial at this stage but we had gotten fed up with false promises and no real
				progress being made. We had agreed with each other that they would issue the letters we had drawn up for them to SIG.
				This would expedite the process of getting the tiles replaced. Because Lancashire Roofing Limited did the neighbour’s
				flat-roofs we had agreed that both sides would match. They should have known the materials used and the correct
				measurements to make it match. It was on the 14th May that progress on the front flat-roof had been made but they have
				used the wrong size trim. It was about an inch bigger than the neighbours meaning that it look terrible from an
				aesthetic point of view. The 18th May came around and the flat-roof was still left exposed and hadn’t had any top coat
				applied. Flat-roofs should be painted asap due to the fact that it will degrade and have issues bonding. He stated that
				he come not get the correct trim sizes and therefore couldn’t do the flat-roof. We knew they were doing jobs in Euxton
				because we had seen them, so we felt like this was a way of avoiding doing the job. It was insulting to have out work
				sat here only to see them laughing joking around the corner doing another job.
			</p>

			<p>
				Between the 18th May and 28th May a Marley representative arrived. They were here to check what had gone wrong with the
				tiles and why they had discoloured. It was the first time that Lancashire Roofing Limited had tidied up and made the
				work area safe. They placed the Marley representative above us living with the mess each and every day. We agreed that
				due to this being in Marley’s hand that we would extend the 14 days notice. We expected that the pair of them would
				progress with work on the other parts on the property, we were wrong. On 28th May we received a message from Lee
				Schofield stating that the issue with the tiles had been solved and we would get them replaced. Fast-forward to the 16th
				June and Lee Schofield stated that the tiles would arrive tomorrow or early next week. They never arrived. No work had
				been done on the property since 14th May. All work which was to be completed was still outstanding.
			</p>

			<p>
				The tiles finally arrived on 18th July but work could not commence because there was no scaffolding or skip. The
				scaffolder had taken sections of the scaffolding because the job was taking so long and he needed it elsewhere. The skip
				was taken because they could not contact Lee Schofield and in turn reclaimed it. On 21st July Lee Schofield told us that
				they could not turn up because the scaffolder would not answer his calls, and he was waiting for the scaffolder to get
				in contact. The excuses at this point were just endless. You really cannot trust a word Lancashire Roofing Limited, Lee
				Schofield, or Will Smith say. On 25th July the roof began to leak heavily into the front bedroom. The so called
				waterproof membrane has broken down because they had left it exposed for so long to the elements. It leaked through the
				roof damaging the bedroom sealing and ruining the loft insulation. The loft insulation now needs replacing and the
				bedroom roof need re-plastering. The water had begun flowing through the electrics down through the light. It was 4:50AM
				when this happened and we contact them early in the morning. They only arrived at 8:30AM to perform the emergency
				repair, by this time the damage has been done. We request the companies insurance details which he never provided. After
				this disaster we issued another Consumer Rights Act 2015 letter on 27th July and it was agreed work would be completed
				no later than 5th August. We listed all the remaining work and made another request for insurance details. Again he
				ignored our request for insurance details.
			</p>

			<p>
				To no one’s surprise when the 5th August came around, the work still had not been completed. It was on this date that a
				third person was brought in to work on the dry ridges. Once AGAIN we noticed the tiles had been cut incorrectly, even
				after being told repeatedly not to cut the edges off the tiles. It was also apparent that the battens had been fitted
				incorrectly AGAIN, because the gaps were so inconsistent and the gauge on the tiles was completely out. The tiles at
				this stage look like a wave going upwards. We attempted to make contact on this date, only to be told he would call
				back, but never did. Lancashire Roofing Limited have dreadful communication and absolutely no care in their work. It was
				the 15th August and the flat-roofs still had not been completed. We asked why they had not progressed with them only for
				Lee Schofield and Will Smith to state that it was too hot to work. He also stated he wouldn’t be able to do them that
				week because there was a thunderstorm due. It became obvious Lee Schofield and Will Smith won’t work when it’s Hot,
				Cold, or raining. So, good luck getting a roof done in Britain by Lancashire Roofing Limited because these pair always
				have an excuse about the weather. Anyway, with a thunderstorm due we enquired about the large gaps they had left exposed
				in the ridge tiles at the top of the roof. Obviously after already causing a leak in the front bedroom and ruining the
				ceiling and insulation, you’d expect them to be cautious, but instead they ignored us and didn’t reply.
			</p>

			<p>
				30th August rolled around and progress had finally been made on the front flat roof! The trim was now the same size as
				the neighbours as we requested the flat-roofs to look the same. The biggest issue was they had decided to paint it a
				completely different colour, ignoring our request for it to look the same as the neighbours. At closed inspection it
				also became apparent they had not cleaned the surface with acetone and they had not sanded the flat-roof properly. With
				them leaving the roof for such a long period of time they would have been having issues getting the top-coat to adhere
				to the degraded flat-roof fibre-glass. The finish was a lumpy, bumpy, shoddy piece of shit. These are supposed to be two
				“flat-roof specialists”, only for it to be revealed they pretty much did a two day course, and labelled themselves as
				“flat-roof specialists”. If I was describing Lancashire Roofing Limited’s roofing skills in two words, I’d go with
				“absolute crap”. For the next week or so they went off the radar again. It would be on the 5th September that they
				arrived and begun work on the back flat-roof. They fitted it and coated it with an undercoat. Once again they didn’t
				have the materials to finish the job and had to leave to go get the top coat. They stated they would return with the
				top-coat and finish the job. They never returned and ignored all attempts to contact them. We took a closer look at the
				back flat-roof, lo and behold it was a rubbish job. The flat-roof was sagging and pooling water. A brand new fitted
				flat-roof by “specialists” was already pooling water.
			</p>

			<p>
				Lee Schofield from Euxton, Will Smith from Leyland, Lancashire Roofing Limited would bless us with their presence for
				the final time on 13th September. They rolled up at 10:00AM and stayed for about an hour. They were made aware that
				their flat-roof was pooling water and Lee Schofield said he could fix it by planing a channel for the water to run down.
				In the meantime they fitted dirty plastic facias and a warped gutter. They didn’t clean the plastic facia once fitted.
				The dirt and warping was due to the pair of them leaving the materials in the sun for months of end whilst they dragged
				the job out. After saying they would correct the flat-roof they disappeared – never to be seen again. They stopped
				answering phone calls, emails, letters, text messages, and WhatsApp messages. It was clear they’d taken the money, left
				us with an unfinished, in parts hazardous, property and scarpered. It would be on the 17th October when we received a
				reply from Lee Schofield saying he would not come to the property because he has a bad back. More excuses. He also sent
				a screenshot of Will Smith’s phone number telling us to contact him instead. Will Smith ignored us. They relationship
				with Lancashire Roofing Limited went from being told we will get a best customer award to them conning us. Will Smith
				would exclaim how much he loved us only for him to do us over like this. It would turn out that both Lee Schofield and
				Will Smith are no longer working together due to issues between the two. It would appear their Companies House for the
				business does not reflect this fact though.
			</p>

			<p>
				At this point we really were left we no choice but to push forward and pursue court action. In turn this meant we issued
				a letter asking for a resolution. We got in three roofers who performed independent roof inspections, all of which wrote
				the job off as rubbish, and had to be completely redone. There were a few key issues. The lead was left in such a
				dangerous state that it was a danger to us as occupants. Each flat-roof had been left for such a long time, that the
				undercoat had degraded, and the quality of workmanship was so poor that it would have to be totally redone. Battens,
				which they had multiple attempts to correct, had been fitted incorrectly. Incorrect fixings had been used for the tiles,
				so none of the tiles were fitted safely to the roof. The membrane had been left exposed for such a long time that it has
				degraded and must now be replaced fully. We have since found that the ventilation in the loft is leading to condensation
				dripping throughout the loft. This is due to Lancashire Roofing Limited not ventilating the loft properly or using the
				incorrect membrane type. Due to their incompetence water damage on the interior ceilings still exists and must be
				repaired. We are missing whole rows of tiles on the dormers. Basically, do not left either one of these blithering
				idiots near your roofs, because although it might look OK from a distance, in the future you’re more than likely going
				to have issues, and once those issue crop up then Lee Schofield from Euxton, Will Smith from Leyland, and Lancashire
				Roofing Limited will all become un-contactable. On their advertising material they talked about guarantees and insurance
				but don’t believe it. They are falsely advertising a service they do not provide to lure you into a false sense of
				security.
			</p>

			<p>
				We have currently issued court action against Lancashire Roofing Limited and it is in the court’s hands. Fingers crossed
				things going how they should and we can finally get a finished roof which will pass an inspection. We had no responses
				from any of the letters and emails we sent regarding this action. It looks as though both Lee Schofield and Will Smith
				have buried their heads in the sand. In fairness to Will Smith we received a WhatsApp on the 26 October expressing how
				sorry he was at the situation and that he was embarrassed about how it has been handled. He confirmed he is no longer
				working with Lee Schofield and that he is sorry it came to this. All in all I would give them a 1 star rating because
				their blithering stupidity is somewhat comical. I will endeavour to keep this website up to date with this whole debacle
				as I don’t see this ending any time soon. It is now the 1st February 2023 and we are still in the same position that we
				were on the 13th September. It is clear we are going to have to fight tooth and nail to get this resolved and we are
				more than willing to do so. When it comes down to it what they have effectively done in rip off a 70+ year old pensioner
				(sorry mum) with a dodgy roof. My mother has never tried to wrong anyone and yet these two have ripped her off. That’s
				all for today folks, have a good one, and we hope you never have to deal with a situation like this.
			</p>

			<br />
		</section>

	</div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
</body>

</html>