<!doctype html>
<html lang="en">

    <%- include('partials/head.ejs', { "title": "Bad Roofers Inc - Home"}) %> 

  <body>
    

    <div class="body-container">
      <div class="mi-container" onclick="showOrHideMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div class="left-content">
        <%- include('partials/nav.ejs') %>
      </div>

      <div class="right-content">
        <%- include('partials/header.ejs') %> 
        
        <section class="content-section">
          <h1>Lancashire Roofing Limited.</h1>
          <h4>Verdict: Avoid!</h4>
          <p>
            Back in March 2022, both <b>Lee Schofield</b> and <b>Will Smith</b>, working under the company of <b>Lancashire Roofing Limited</b>, were hired to do a full re-roof including plastic work. 
            To this date, January 2023, the property is left with an unfinished roof which is both poof quality and has hazardous improperly secured lead work.
            It should be noted that the current roof is with "corrected" workmanship, as they were given several chances to fix the issues.
            In most cases, instead of fixing the issues, they did their best to hide the issues.
            Both <b>photographic and video evidence</b> is available of this.
            Three roofing companies have examined and given reports confirming the work is of <b>extremely poor quality</b>, with sections being <b>hazardous</b> to the occupants.
          </p>

          
        </section>
        <%- include('partials/footer.ejs') %>
      </div>

      
    </div>
    <%- include('partials/scripts.ejs') %> 
  </body>
</html>